[user]
  name = Georg Friedrich
  email = georg.friedrich@redbubble.com
[alias]
  co = checkout
  cb = checkout -b
  ci = commit -v
  ca = commit -av
  st = status -sb
  up = pull
  log-graph = log --graph --all --decorate
  ctags = !.git/hooks/ctags
  amend = commit --amend -C HEAD
[apply]
  whitespace = strip
[branch]
  autosetupmerge = true
[color]
  diff = auto
  grep = auto
  branch = auto
  interactive = auto
  pager = true
  showbranch = auto
  status = auto
  ui = auto
[difftool]
  cmd = "opendiff $LOCAL $REMOTE"
[merge]
  tool = opendiff
[mergetool]
  keepBackup = false
[mergetool "opendiff"]
  cmd = "opendiff $LOCAL $REMOTE -ancestor $BASE -merge $MERGED"
[push]
  default = simple
[rerere]
  enabled = 1
[init]
  templatedir = ~/.git_template
[hub]
  protocol = https

[pull]
rebase = preserve

[credential]
	helper = osxkeychain
[diff]
	renameLimit = 2580
[rebase]
	autoSquash = true
